#workshops {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-style: solid;
  padding: 8px;
  border-radius: 25px;
}

body {
  background-color: #FFFFFF;
}

h1, h2, h3 {
  color: #600032;
}

header{
  background-image: url("robots.png");
  height: 230px;
  width: 1000px;
  margin: auto;
  display: block;
  z-index: -1;
}

#title_head {
  display: block;
  margin: auto;
  z-index: 0;
  text-align: center;
  margin-top: -180px;
  font-size: 300%;
}

#small_title_head {
  display: block;
  margin: auto;
  z-index: 0;
  text-align: center;
}




