#workshops {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-style: solid;
  padding: 8px;
  border-radius: 25px;
}

body {
  background-color: #FFFFFF;
}

h1, h2, h3 {
  color: #600032;
}

header{
  background-image: url("robots.png");
  height: 230px;
  width: 1000px;
  margin: auto;
  display: block;
  z-index: -1;
}

#title_head {
  display: block;
  margin: auto;
  z-index: 0;
  text-align: center;
  margin-top: -180px;
  font-size: 300%;
  width: 100%;
}

#small_title_head {
  display: block;
  margin: auto;
  z-index: 0;
  text-align: center;
}

#sub_title {
display: block;
margin: auto;
text-align: center;
margin-top: 130px;

}

#tech{
  color:#B7005E;
  font-size: 200%;
}

#intro {
  color:#B7005E;
  font-size: 140%;
}

#sub_title {
  
  width: 100%;
  margin: : 10px;
  background-color: #CCCCCC;
  border-radius: .5%;
  padding: 15px;
}

